body {
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

main-page-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 99vw;
    height: 99vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.ng-scope {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.ng-isolate-scope {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar-nav {
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    flex-flow: nowrap;
}

.navbar-nav > .nav-item {
    flex: 1 1 auto;
    text-align: center;
    flex-flow: nowrap;
}

.transparent-input {
    background-color: rgba(255, 255, 255, 0.5);
    border: 0.5px solid gray;
 }

.header {
    display: flex;
    width: 100%;
    padding: 10px;
    height: 125px;
    top: 0;
    margin: 0;
    /* overflow: hidden; */
    z-index: 10;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
}

.header-column {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 125px;
}

.header-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}



.header-nav > .nav-item {
    flex: 1 0 auto;
    /* align-items: center;
    justify-content: center;
    text-align: center; */
}

.search-bar {
    display: inline;
    justify-content: space-around;
    align-items: space-around;
    padding: auto;
}

.sign-in-header, .register-header {
    width: 100%;
    padding: 10px;
    top: 0;
    margin: 0;
}

.nav-item {
    font-size: 20px;
}

.post {
    height: 100px;
}

.register-container, .signin-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0.5%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-page-container {
    width: 95vw;
    height: 95vh;
    flex: 2 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.center-row-container {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    height: 75%;
    justify-content: center;
    align-items: center;
    margin-top: 135px;
}

.left-column-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 160px;
    position: fixed;
    left: 0;
    top: 135px;
    flex: 1 1 0;
}

.center-column-container {
    flex: 1 1 auto;
    height: 100%;
    margin: 10px 300px 0px 170px;
    justify-content: center;
    align-items: center;
}

.right-column-container {
    padding: 0;
    margin: 0;
    height: 90%;
    width: 300px;
    position: fixed;
    right: 0px;
    top: 135px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.scroll-container {
    height: 45%;
    width: 95%;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 0;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.scroll-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: top;
    align-items: space-around;
    margin: 0px;
    padding: 0px;
}

.list-title {
    width: 100%;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 0;
    margin: 0;
}

.right-bar {
    width: 50%;
    height: 100%;
    flex-shrink: 1;
}

.profile-form {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    max-width: 100%;
    align-self: center;
}

.tweet-form {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}


.logo {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.squawker {
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    width: 100%;
}

.squawk-small {
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    margin: 0;
    padding: 0;
}

.form-signin {
    width: 50%;
    justify-content: space-around;
    align-items: space-around;
}

.register {
    width: 50%;
    justify-content: space-around;
    align-items: space-around;
}

.tweet-dropdown {
    text-align: right;
}

.tweet-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.form-control {
    margin-bottom: 5px;
}

a:link {
    text-decoration: none;
}

.form-inline {
    flex-flow: nowrap;
}

.inline-button {
    width: 100%;
}

.squawk-input {
    max-width: 100%;
}

#search-input {
    display: inline;
    width: 200px;
}

.tweet-list {
    justify-content: stretch;
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.tweet {
    padding-bottom: 5px;
}


.card-text{
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    height: 1.8em;
    line-height: 1.8em;
}

.profile-card {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.profile-lower-buttons {
    width: 100%;
    max-width: 100%;
    flex: 1 1 auto;
    display: flex;
    overflow-wrap: wrap;
    flex-direction: row;
    margin-top: 5px;
}

.profile-lower-buttons > .btn {
    flex: 1 1 0;
    margin: 0 5px 0 5px;
    height: 40px;
}

@media only screen and (max-width: 1050px) {
    .right-column-container {
        display: none;
    }

    .center-column-container {
        margin: 0px 0px 0px 170px;
    }
}

@media only screen and (max-width: 750px) {
    .left-column-container {
        display: none;
    }

    .center-column-container {
        margin: 0px 0px 0px 0px;
    }
}

@media only screen and (max-width: 600px) {
    .header-row {
        flex-direction: column;
    }

    .header-nav {
        flex-direction: column;
        
    }

    .header {
        height: 0vh;
        position: inherit;
    }

    .logo {
        padding-bottom: 10px;
        top: 0px;
    }

    .search-bar {
        display: none;
    }

    .center-row-container {
        height: 80%;
    }
    
}