body {
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

main-page-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 99vw;
    height: 99vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.ng-scope {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.ng-isolate-scope {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar-nav {
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    flex-flow: nowrap;
}

.navbar-nav > .nav-item {
    flex: 1 1 auto;
    text-align: center;
    flex-flow: nowrap;
}

.header {
    display: flex;
    width: 100%;
    padding: 10px;
    height: 150px;
    top: 0;
    margin: 0;
    /* overflow: hidden; */
    z-index: 10;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    background-color: WHITE;
}

.header-column {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
    max-height: 150px;
}

.header-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}



.header-nav > .nav-item {
    flex: 1 0 auto;
    /* align-items: center;
    justify-content: center;
    text-align: center; */
}

.sign-in-header, .register-header {
    width: 100%;
    padding: 10px;
    top: 0;
    margin: 0;
}

.nav-item {
    font-size: 20px;
}

.post {
    height: 100px;
}

.register-container, .signin-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0.5%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-page-container {
    width: 95vw;
    height: 95vh;
    flex: 2 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.center-row-container {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.left-column-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 160px;
    position: fixed;
    left: 0;
    top: 150px;
    flex-shrink: 0;
}

.center-column-container {
    width: 100%;
    height: 100%;
    margin-left: 170px;
    margin-right: 300px;
    justify-content: center;
    align-items: center;
}

.right-column-container {
    padding: 0;
    margin: 0;
    height: 90%;
    width: 300px;
    position: fixed;
    right: 0px;
    top: 150px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.scroll-container {
    height: 45%;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 0;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.scroll-list {
    height: 75%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

.list-title {
    width: 100%;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 0;
    margin: 0;
}

.right-bar {
    width: 50%;
    height: 100%;
    flex-shrink: 0;
}

.profile-form {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    align-self: center;
}

.tweet-form {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}


.logo {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.squawker {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    width: 100%;
}

.squawk-small {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.form-signin {
    width: 50%;
    justify-content: space-around;
    align-items: space-around;
}

.register {
    width: 50%;
    justify-content: space-around;
    align-items: space-around;
}

.btn {
    margin-bottom: 5px;
}

.form-control {
    margin-bottom: 5px;
}

a:link {
    text-decoration: none;
}

.form-inline {
    flex-flow: nowrap;
}

.inline-button {
    width: 100%;
}

.squawk-input {
    max-width: 100%;
}

#search-input {
    display: inline;
    width: 200px;
}