body {
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.container {
    width: 100vw;
}

.navbar {
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar-nav {
    align-items: center;
}

.nav-item {
    font-size: 20px;
}

.registerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.register {
    padding-top: 5%;
    width: 50%;
}