<div class="register-container">
    <div class="register">
        <div class="register-header">
            <div class="logo">
                <a class="navbar-brand" href="#">
                    <img src="img/squawkerLogo.png" width="60" height="60" alt="">
                </a>
                <div class="squawker">Squawker</div>
            </div>
        </div>
        <form method="post">
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name" ng-model="$ctrl.registerService.user.profile.firstName"
                        />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name" ng-model="$ctrl.registerService.user.profile.lastName"
                        />

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="email" id="email" placeholder="Email" ng-model="$ctrl.registerService.user.profile.email"
                        />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone fa-fw" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number" ng-model="$ctrl.registerService.user.profile.phone"
                        />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users fa-fw" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username" ng-model="$ctrl.registerService.user.credentials.userLogin"
                        />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="password" id="password" placeholder="Password" ng-model="$ctrl.registerService.user.credentials.password"
                        />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="confirm" id="confirm" placeholder="Confirm Password" />
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <a type="button" id="button" class="btn btn-primary btn-lg login-button btn-block" ui-sref="userCreation">Register</a>
            </div>
        </form>
    </div>
</div>