<div id="cloud-intro">
    <nav class="navbar navbar-toggleable-lg navbar-light navbar-static-top fullscreen header-column">
        <ul class="navbar-nav navbar-brand mr-auto header-nav">
            <div class="logo">
                <a class="navbar-brand squawker" ui-sref="main.allTweets">
                <img src="img/squawkerLogo.png" width="60" height="60" alt="">
                <div class="squawker">
                    Squawker
                </div>
            </a>
            </div>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="main.profile"><strong>Profile</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="signIn"><strong>Logout: @{{$ctrl.getUsername()}}</strong></a>
            </li>
            <li class="nav-item search-bar">
                <form class="navbar-form navbar-left search-bar">
                    <!-- Modified by Chris. -->
                    <input type="text" class="form-control input-lg transparent-input" id="search-input" placeholder="Search" ng-model="$ctrl.searchService.searchString" maxlength="20">
                    <!-- Modified by Chris. -->
                    <button class="btn btn-outline-primary" ng-click="$ctrl.searchService.activateSearch(document.getElementById('search-input').value)"
                        ui-sref-active="active" type="submit"><strong>Search</strong></button>
                </form>
            </li>
        </ul>

    </nav>
</div>