<form class="form-signin">
    <div class="logo">
        <a class="navbar-brand" href="#">
            <img src="img/squawkerLogo.png" width="60" height="60" alt="">
        </a>
        <div class="squawker">
            Squawker
        </div>
    </div>
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus ng-model="$ctrl.signInService.user.userLogin">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="$ctrl.signInService.user.password">
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <a ui-sref="authentication">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </a>
    <a ui-sref="register">
        <button class="btn btn-lg btn-secondary btn-block" type="submit">Register</button>
    </a>
</form>