<div class="card bg-light mb-3 tweet">
    <div class="card-block">
        <div class="card-header">Posted on: {{$ctrl.tweet.posted}}
            <a ui-serf=".showReposts">reposts</a>
            <a ui-sref=".showReplies">replies</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">{{$ctrl.tweet.userName}}</h4>
            <p class="card-text">{{$ctrl.tweet.content}}</p>
        </div>
        <div class="card-header">
            <div class="tweet-footer">
                <div class="like">

                    <button class="btn btn-primary" role="button" ng-click="$ctrl.like($ctrl.tweet.id)"><span class="fa fa-heart"></span> &nbsp&nbsp<!--{{$ctrl.likes[$ctrl.tweet.id]}}--></button>

            </div>
            <div class="bttns">
                <button  class="btn btn-primary" role="button">Reply</button>
                <button  class="btn btn-primary" role="button" ng-click="$ctrl.repost($ctrl.tweet.id)">Repost</button>
                <a ui-sref="main.context({ tweetId: $ctrl.tweet.id })">
                    <button  class="btn btn-primary" role="button" >Context</button>
                </a>
            </div>
        </div>
    </div>
</div>